body {
    font-family: 'Times New Roman', serif;
    letter-spacing: 0.1em;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 50%;
    /* background: #FFFCF3 ; */
}

#text-container {
    font-size: 18px;
    max-width: 95%;
    margin: 0 auto;
    white-space: pre-wrap;
}

.highlight {
    background-color: yellow;
    cursor: pointer;
}

#tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1000;
}
